/* GENERAL */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

/* HEADER MENU */

.logo {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  color: rgb(81, 81, 81);
  text-decoration: none;
  float: left;
}

.logo:first-letter {
  color: rgb(26, 188, 156);
  font-weight: 800;
}

.nav-menu {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  list-style: none;
  float: right;
  margin-top: 10px;
}

.nav-menu a {
  display: block;
  color: rgb(15, 1, 1);
  text-decoration: none;
  text-transform: uppercase;
}

.nav-menu a:hover,
.nav-menu a:focus {
  color: rgb(26, 188, 156);
}

.nav-menu li {
  display: inline-block;
  float: left;
}

.nav-menu li:not(:last-child) {
  margin-right: 30px;
}

.main-header {
  padding-top: 36px;
  padding-bottom: 30px;
}

/* IMAGE */

.bg_img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.tours {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 60px;
  line-height: 82px;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.tours-info {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  line-height: 54px;
  font-weight: 300;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.image-section {
  position: relative;
}

.text-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 800px;
}

.action {
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 104px;
  height: 104px;
  background-color: rgb(26, 188, 156);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.action-back {
  left: 0;
  background-image: url(../images/back.png);
}

.action-forth {
  right: 0;
  background-image: url(../images/forth.png);
}

.controls {
  position: absolute;
  width: 1110px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-wrapper::after{ 
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  left: 0;
}

.inactive-button {
  background-color: rgba(78, 198, 171, 0.65);
}

/* GOODS */

.new-collection {
  background-color: #e9f0fd;
}

.goods {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: rgb(81, 81, 81);
  text-align: center;
  padding-top: 92px;
}

.goods::after {
  display: block;
  width: 164px;
  height: 7px;
  background-color: rgb(26, 188, 156);
  content: "";
  margin: 24px auto 80px;
}

.goods-list {
  list-style: none;
}

.new-collection li {
  float: left;
}
.item-name {
  float: left;
  padding: 14px;
}

.item-info {
  background-color: rgb(50, 50, 50);
}

.item-price {
  float: right;
  padding: 14px;
  background-color: rgb(140, 140, 140);
}

.goods-list a {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 32px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
}

.item-bottom {
  background-color: rgb(50, 50, 50);
}

.goods-list-item {
  position: relative;
}

.goods-list-item:not(:last-child) {
  margin-right: 30px;
}

.new-collection {
  padding-bottom: 100px;
}

.actions-list {
  position: absolute;
  left: 35px;
  bottom: 75px;
}

.action-list-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 8px;
}

.action-link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid;
  color: rgb(255, 255, 255);
}

.action-like {
  background-image: url(../images/like.png);
}
.action-compare {
  background-image: url(../images/compare.png);
}
.action-wait {
  background-image: url(../images/wait.png);
}
.action-add {
  background-position: left 10px center;
  background-image: url(../images/cart.png);
}

.action-link {
  width: 48px;
  height: 48px;
  background-color: transparent;
}

.action-add {
  width: 160px;
  background-color: rgb(50, 50, 50);
}

.action-add p {
  float: right;
}

.goods-list-item {
  width: 255px;
  height: 322px;
  position: relative;
}

.goods-overlay {
  top: 0;
  background-color: rgba(0, 0, 0, 0.55);
  border-width: 10px;
  border-color: rgba(255, 255, 255, 0.55);
  border-style: solid;
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
  background-clip: padding-box;
}

.cart-add {
  display: inline-block;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding-right: 18px;
}

.goods-list-item:hover .goods-overlay,
.goods-list-item:focus .goods-overlay {
  visibility: visible;
  opacity: 1;
}

.goods-list-item:hover .item-info,
.goods-list-item:focus .item-info {
  background-color: rgb(26, 188, 156);
}

.goods-list-item:hover .item-price,
.goods-list-item:focus .item-price {
  background-color: rgb(127, 217, 199);
}

.action-link:hover,
.action-link:focus {
  background-color: rgb(26, 188, 156);
  border: none;
}

/* FOOTER */

.wrapper {
  position: relative;
  height: 90px;
  background-color: rgb(50, 50, 50);
}

.info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bottom p,
.bottom a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.bottom a {
  color: rgb(70, 191, 169);
}