footer {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .container {
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer p {
  font-family: $montserrat__font;
  font-size: 14px;
  line-height: 16px;
  color: $grey__51;
}

.main-footer a {
  font-family: $montserrat__font;
  font-size: 14px;
  line-height: 16px;
  color: rgb(246, 161, 161);
}

.action {
  font-family: $montserrat__font;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  height: 40px;
  width: 150px;
  color: #fff;
  background-color: rgb(149, 225, 211);
  text-transform: uppercase;
}

.typing-window {
  height: 40px;
  width: 230px;
  border: 1px solid rgb(231, 231, 231);
  border-right: none;
}

::placeholder {
  font-family: $roboto__font;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: rgb(204, 204, 204);
}

input {
  padding-left: 15px;
}

.team::after {
  margin: 0 auto;
  display: block;
  width: 1200px;
  height: 1px;
  margin-top: 80px;
  background-color: rgb(229, 229, 229);
  content: '';
}

.license-info {
  font-family: $montserrat__font;
  font-size: 14px;
  line-height: 16px;
  color: $grey__51;
  font-weight: 700;
  & a {
    color: rgb(243, 129, 129);
  }
}
