.top-section {
  background-image: linear-gradient(
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../images/bg-img-min.jpeg);
  height: 62.5rem;
  width: 100%;
  background-repeat: no-repeat;
  margin-bottom: 2.875rem;
}

.container__top {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 9.875rem;
}

.logo {
  top: 1.625rem;
  left: 0.125rem;
  position: absolute;
}

.logo,
.list__item--link {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: rgb(255, 255, 255);
}

.list__item--link {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: uppercase;
}

.options__item--img,
.options__item--cart,
.options__item--search {
  width: 1.125rem;
  height: 1.125rem;
}

.list__item,
.options {
  display: flex;
}

.menu {
  margin-top: 2.5rem;
  width: 38.75rem;
  display: flex;
  justify-content: space-between;
}

.menu__list {
  width: 30.625rem;
  display: flex;
  justify-content: space-between;
}

.options {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}

.welcome {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 9.375rem;
  line-height: 8.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.template {
  display: block;
  font-family: 'Kaushan Script', 'Arial', sans-serif;
  font-size: 4.5rem;
  line-height: 5.375rem;
  font-weight: 400;
  margin-bottom: 2.875rem;
}

.welcoming-template {
  width: 53.125rem;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-bottom: 6.625rem;
}

.learn-more {
  display: block;
  font-family: sans-serif;
  font-size: 0.875rem;
  line-height: 2.75rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 0.1875rem;
  border-color: rgb(255, 255, 255);
  width: 10.25rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}
