.services__subheader-top,
.team__subheader-top {
  font-family: $kaushan__font;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: rgb(51, 51, 51);
  display: block;
  margin-bottom: 1.25rem;
  position: relative;
}

.services__subheader-top::after,
.team__subheader-top::after {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 60px;
  height: 3px;
  background-color: rgb(243, 129, 129);
  content: '';
}

.services__header::first-letter,
.team__header::first-letter {
  text-transform: uppercase;
}

.services__subheader-bottom,
.team__subheader-bottom {
  font-family: $montserrat__font;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 108px;
}

.services__header,
.services__subheader,
.team__header,
.team_subheader {
  text-align: center;
}

.services__list--item:nth-child(2) {
  background-image: url(../images/graph.svg);
}

.services__list--item:nth-child(3) {
  background-image: url(../images/comp.svg);
}

.services__list--item:nth-child(4) {
  background-image: url(../images/book.svg);
}

.services__list--item:nth-child(5) {
  background-image: url(../images/home.svg);
}

.services__list--item:nth-child(6) {
  background-image: url(../images/picture.svg);
}

.services__list--item:nth-child(-n + 3) {
  margin-bottom: 98px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 90px;
  &--item {
    content: '';
    background-image: url(../images/alarm.svg);
    background-repeat: no-repeat;
    background-position: bottom 40px left 20px;
    width: 382px;
    height: 70px;
    display: flex;
    flex-direction: column;
  }
  &--header {
    font-family: $montserrat__font;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $grey__51;
    margin-bottom: 8px;
  }
  &--info {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: $grey__153;
  }
  &--header,
  &--info {
    padding-left: 82px;
  }
}
