.services__header {
    font-family: "Kaushan Script", "Arial", sans-serif;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 400;
    color: rgb(51, 51, 51);
    margin-bottom: 1.25rem;
    display: block;
  }
  
  .services__header::first-letter {
    text-transform: uppercase;
  }
  
  .services__subheader {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
  }
  
  .services__header,
  .services__subheader {
    text-align: center;
  }