/* GENERAL */

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: local("Montserrat Italic"), local("Montserrat-Italic"),
    url("../fonts/montserrat-v14-latin_cyrillic-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin_cyrillic-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v10-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-slab-v10-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.container {
  width: 58.75rem;
  margin: 0 auto;
}

/* HEADER */

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 6.125rem;
}

.main-menu {
  width: 30rem;
  display: flex;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 0.875rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  justify-content: space-between;
}

.main-menu-item:hover,
.main-menu-item:focus {
  color: rgb(254, 209, 54);
  cursor: pointer;
}

/* SERVICES */

.section-header {
  text-align: center;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 2.5rem;
  line-height: 4.6875rem;
  font-weight: 700;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
}

.section-subheader {
  text-align: center;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: rgb(119, 119, 119);
  padding-bottom: 80px;
}

.item-header {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 700;
  color: rgb(34, 34, 34);
  padding-top: 1.875rem;
  margin-bottom: 1rem;
}

.item-text {
  font-family: "RobotoSlab", "Arial", sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 400;
  color: rgb(119, 119, 119);
  margin-bottom: 7.5rem;
}

.services-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.services-list-item {
  text-align: center;
  width: 18.125rem;
}

.meain-header-container {
  display: flex;
  justify-content: space-between;
}

.icon {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(254, 209, 54);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 4.5rem;
  height: 4.4375rem;
}

.basket {
  background-image: url(../image/Icon-Basket.png);
}

.laptop {
  background-image: url(../image/Icon-Laptop.png);
}

.locker {
  background-image: url(../image/Icon-Locked.png);
}

/* CONTACTS */

.contact {
  height: 42.25rem;
  width: 100%;
  background-image: url(../image/map-image.png);
  object-fit: cover;
}

.contact h2 {
  color: rgb(255, 255, 255);
}

.contact-form-input {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  width: 28.625rem;
  height: 3.375rem;
}

input {
    padding-left: 0.9375rem;
}

::placeholder {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 700;
  color: rgb(187, 187, 187);
  text-transform: uppercase;
  padding-top: 1.25rem;
  padding-left: 1.375rem;
}

.message-button {
  border-radius: 3px;
  background-color: rgb(254, 209, 54);
  width: 15rem;
  height: 4.125rem;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  display: block;
  margin-top: 1.875rem;
  margin-left: 21.875rem;
}

textarea {
  resize: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 28.6875rem;
  height: 100%;
  outline: none;
}

.feedback-form {
  display: flex;
  width: 58.75rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-wrapper,
.text-area-wrapper {
  width: 28.375rem;
}

input:not(:last-child) {
  margin-bottom: 1.75rem;
}

input:required:invalid,
textarea:required:invalid {
    border-color: rgb(255, 0, 0);
}

input:required:valid,
textarea:required:valid {
    border-color: rgb(0, 128, 0);
}
