.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-menu a:hover,
.main-menu a:focus {
  color: rgb(3, 169, 244);
}

.main-menu-list a {
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  color: rgb(98, 98, 98);
}

.main-menu-list {
  text-align: center;
  margin-top: 85px;
  margin-bottom: 98px;
  padding: 0;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  list-style: none;
}

.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0px;
}

.article-preview {
  font-family: "Playfair Display", "Arial", sans-serif;
  color: rgb(98, 98, 98);
  font-size: 14px;
  line-height: 24px;
}

.article-theme {
  font-family: "Ubuntu Light" "Arial" sans-serif;
  color: rgb(180, 173, 158);
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin-top: 9px;
}

.article-name {
  font-family: "Playfair Display", "Arial", sans-serif;
  color: rgb(98, 98, 98);
  font-size: 30px;
  line-height: 36px;
}

.load-more-button {
  display: inline-block;
  width: 164;
  height: 60;
  border: 1px solid rgb(98, 98, 98);
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  position: center;
}

.load-more-button a {
  display: block;
  text-decoration: none;
  font-family: "Playfair Display", "Arial", sans-serif;
  color: rgb(98, 98, 98);
  font-size: 20px;
  line-height: 24px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.main-menu-list li {
  display: inline-block;
}

.main-menu-list li:not(:last-child){
  margin-right: 107px;
}

.article-list-item {
  width: 420px;
  display: inline-block;
  margin-bottom: 130px;
}

.article-list-item:not(:nth-child(2n)){
  margin-right: 60px;
}

.article-list-item:nth-last-child(-n + 2){
  margin-bottom: 0;
}

.main-articles {
  margin-bottom: 58px;
}
