.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.main-menu a:hover,
.main-menu a:focus {
  color: rgb(3, 169, 244);
}

.main-menu-list a {
  display: block;
  text-transform: uppercase;
  list-style: none;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: rgb(98, 98, 98);
}

.main-menu-list {
  text-align: center;
  padding-top: 85px;
  padding-bottom: 98px;
  font-size: 0;
  list-style: none;
}

.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0px;
}

.article-preview {
  font-family: "Playfair Display", "Arial", sans-serif;
  color: rgb(98, 98, 98);
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
}

.article-theme {
  font-family: "Ubuntu Light" "Arial" sans-serif;
  color: rgb(180, 173, 158);
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 32px;
}

.article-name {
  font-family: "Playfair Display", "Arial", sans-serif;
  color: rgb(98, 98, 98);
  font-size: 30px;
  line-height: 36px;
  margin: 0px;
  margin-bottom: 36px;
}

.load-more-button {
  display: block;
  width: 164;
  height: 60;
  border: 1px solid rgb(98, 98, 98);
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  margin-top: 52px;
  margin-left: 360px;
}

.load-more-button a {
  display: block;
  text-decoration: none;
  font-family: "Playfair Display", "Arial", sans-serif;
  color: rgb(98, 98, 98);
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 24px 34px 20px;
}

.load-more-button a:hover,
.load-more-button a:focus {
  color: rgb(3, 169, 244);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.main-menu-list li {
  display: inline-block;
}

.main-menu-list li:not(:last-child) {
  margin-right: 107px;
}

.article-list-item {
  width: 420px;
  display: inline-block;
  margin-bottom: 135px;
}

.article-list-item:not(:nth-child(2n)) {
  margin-right: 60px;
}

.article-list-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.main-articles {
  padding-bottom: 70px;
}
