/* FONT */

$montserrat__font: 'Montserrat', 'Arial', sans-serif;
$kaushan__font: 'Kaushan Script', 'Arial', sans-serif;
$roboto__font: 'Roboto', 'Arial', sans-serif;

/* COLOR */

$white: rgb(255, 255, 255);
$grey__51: rgb(51, 51, 51);
$grey__153: rgb(153, 153, 153);